ETHERSCAN_API_KEY = ABC...
BSCSCAN_API_KEY = ABC...
MNEMONIC = abc...
INFURA_ID_PROJECT = a2b...

# gas limits constants
DEFAULT_OPERATIONS_GASLIMIT = 500000 

# gas prices constants
ETH_MAINNET_GASPRICE = 20
BSC_MAINNET_GASPRICE = 5
MATIC_MAINNET_GASPRICE = 5
TESTNETS_GASPRICE = 20

OWNER = 0xABC...
PRIVATE_SALE = 0xABC...
PRE_SALE = 0xABC...
CROWDSALE = 0xABC...
MARKETING_TEAM = 0xABC...
MANAGMENT_TEAM = 0xABC...
ADVISORS = 0xABC...
BOUNTIES = 0xABC...
LIQ_POOL = 0xABC...
FOUNDERS_RESERVE = 0xABC...